h1 {
  font-family: 'HP Simplified', sans-serif;
  font-size: 24pt; 
  color: #0096d6;
  font-weight: bold;
}

h2 {
  font-family: 'HP Simplified', sans-serif;
  font-size: 20pt; 
  color: RGB(89,187,228);
  font-weight: bold;
}

.h2ArticleTitle {
  font-family: 'HP Simplified', sans-serif;
  font-size: 20pt; 
  color: #0096d6;
  font-weight: bold;
}

h3 {
  font-family: 'HP Simplified', sans-serif;
  font-size: 16pt; 
  color: RGB(89,187,228);
  font-weight: bold;
}

h4 {
  font-family: 'HP Simplified Light', sans-serif;
  font-size: 12pt; 
  color: RGB(89,187,228);
  font-weight: bold;
}

h5 {
  font-family: 'HP Simplified Light', sans-serif;
  font-size: 12pt; 
  color: #0096d6;
  font-weight: bold;
  font-style: italic
}

p {
  font-family: 'HP Simplified Light', sans-serif;
  font-size: 11pt;
  line-height: 22px; 
}

.ProcedLeadIn {
  font-family: 'HP Simplified Light', sans-serif;     
  font-size: 11pt;
  font-weight: bold;
}

.UIElement {
  font-family: 'HP Simplified Light', sans-serif;     font-size: 11pt;
  font-weight: bold;
  color: black;
}

.ListNote {
  margin-top: 3px;
  margin-bottom: 3px;
  font-family: 'HP Simplified Light', sans-serif;     font-size: 11pt;
    line-height: 22px; 
}

.CommandCode {
  font-family: courier new;
  font-size: 12pt; 
  margin-left: 5%; 
  margin-right: 5%;
  font-weight: bold;
}

table {
  width: 100%
}

table, th, td  {
  border: solid 1px black;
  border-collapse: collapse;
  font-family: 'HP Simplified Light', sans-serif;     font-size: 11pt;
  }

tr {
  vertical-align: text-top;
  text-align: left;
  }

.headerrow {
  background-color: #0096d6;
  color: white;
  font-weight: bold;
  vertical-align: middle;
}

th {
  padding: 5px;
  font-family: 'HP Simplified', sans-serif;
  font-size: 11pt; 
  }

td {
  padding: 5px 7px 5px 7px;
}
/* This formats footnotes*/
.footnote {
  font-family: 'HP Simplified Light', sans-serif;
  font-size: 9pt;
  line-height: 0.5;
    }

ol {
  margin-top: 4px; 
  list-style-position: outside; 
  line-height: 22px; 
  padding-left: 2em;
  font-family: 'HP Simplified Light', sans-serif;     font-size: 11pt;
}

.olListLevel2Letter {
  margin-top: 4px; 
  list-style-type: lower-alpha;
  list-style-position: outside; 
  line-height: 22px; 
  padding-left: 1em;
  font-family: 'HP Simplified Light', sans-serif;     font-size: 11pt;
}

.olListLevel3Roman {
  margin-top: 4px; 
  list-style-type: lower-roman;
  list-style-position: outside; 
  line-height: 22px; 
  padding-left: 1em;
  font-family: 'HP Simplified Light', sans-serif;     font-size: 11pt;
}

.ulol {
  margin-top: 4px; 
  list-style-position: outside; 
  line-height: 22px; 
  padding-left: 1em;
  font-family: 'HP Simplified Light', sans-serif;     font-size: 11pt;
}

ul {
  margin-top: 4px; 
  list-style-position: outside; 
  line-height: 22px; 
  padding-left: 2em;
  font-family: 'HP Simplified Light', sans-serif;     
  font-size: 11pt;
}

.SubBullet {
  margin-top: 4px; 
  list-style-position: outside; 
  list-style-type: circle;  
  line-height: 22px; 
  padding-left: 1em;
  font-family: 'HP Simplified Light', sans-serif;     
  font-size: 11pt;
}

.SubSubBullet {
  margin-top: 4px; 
  list-style-position: outside; 
  list-style-type: "-  ";   
  line-height: 22px; 
  padding-left: 1em;
  font-family: 'HP Simplified Light', sans-serif;     
  font-size: 11pt;
}

 .SubSubSubBullet {
  margin-top: 4px; 
  list-style-position: outside; 
  list-style-type: "\25AA";   
  line-height: 22px; 
  padding-left: 1em;
  font-family: 'HP Simplified Light', sans-serif;     
  font-size: 11pt;
}

.StepBullet {
  margin-top: 4px; 
  list-style-position: outside; 
  list-style-type: circle;  
  line-height: 22px; 
  padding-left: 1em;
  font-family: 'HP Simplified Light', sans-serif;     
  font-size: 11pt;
}

.DefInfoBullet {
  margin-top: 4px; 
  list-style-position: outside; 
  list-style-type: "-  ";   
  line-height: 22px; 
  padding-left: 1em;
  font-family: 'HP Simplified Light', sans-serif;     font-size: 11pt;
}

a {
  color: #0096d6;
  font-family: 'HP Simplified Light', sans-serif;
  font-size: 11pt;
}
